/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 /* Custom styles for the navbar */
.navbar {
  background-color: #3f51b5; /* Change the background color to your preferred color */
}

.navbar-brand {
  color: #ffffff; /* Change the brand text color */
  font-weight: bold;
}

.navbar .nav-link {
  color: #ffffff; /* Change the link text color */
}

/* Change the link text color when hovering */
.navbar .nav-link:hover {
  color: #f5f5f5;
}

/* Adjust the spacing and alignment of the navbar elements */
.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item {
  margin-left: 10px;
}

/* Set the height of the cards to make them consistent */
// .cat-card {
//   height: 140px;
//   min-width: 110px !important;
//   justify-content: center;
//   align-items: center;
// }

/* Add a scrollable container for the cards */
.container {
  overflow-x: scroll;
  white-space: nowrap;
}

/* Adjust the spacing between cards */
.mb-4 {
  margin-right: 15px;
}

.cat-row {
  display: flex;
  flex-wrap: nowrap;
}

.card-img-top {
  width: 75% !important;
}

.meal-card {
  // padding: 12px;
  background-color: grey !important;
  border-radius: 15px !important;
  // height: 100%;
  align-items: center;
  padding-top: 1.25rem;
}

.meal-row {

}

/* Custom styles for the cart page */
.container {
  padding: 20px;
}

.table {
  margin-bottom: 20px;
}

/* Add some spacing for the quantity input field */
.form-control {
  margin-top: 10px;
}

/* Custom styles for the Categories Section */
.cat-card {
  transition: transform 0.2s;
}

.cat-card:hover {
  transform: scale(1.05);
}

/* Media Query for Mobile */
@media (max-width: 767px) {
  .cat-card {
    margin-bottom: 20px;
  }
}
